<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZDL_SQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E876A151F3053F70071CECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E876A2E1F3053F70071CECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E876A391F3053F70071CECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
